body{
  color:red;
}
.navbar{
  padding 1rem;
  background-color: #007bff  ;
}
.btn-primary:hover {
  background-color: blue;
  color: white;
}
.hero-background-img {
  background-image: url(san-francisco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:200px;
  padding-bottom:200px;
}
h1{
  color: white;
}
